$line-width: 1px;
$g100: #f1f1f1;
$g200: #eee;
$g300: #ddd;
$g400: #ccc;
$g450: #c5c5c5;
$g500: #bbb;
$g600: #999;
$g700: grey;
$g800: #666;
$g900: #262626;
$negative-line-width: -1px;
$double-line-width: 2px;
$negative-double-line-width: -2px;
$colors-azul: #339;
$colors-lavender: #ccccff;
$colors-beige: #e8e8df;
$colors-green: #336633;
$colors-green-light: #339966;
$dropdown: 0;