@use "sass:string";
@use "colors" as *;

@mixin bevel(
  $topcolor-inner: $g200, 
  $bottomcolor-inner: $g600,
  $inner: true, 
  $outer: false, 
  $shadow: false, 
  $topcolor-outer: $topcolor-inner, 
  $bottomcolor-outer: $bottomcolor-inner,
  $width: $line-width, 
  $shadow-distance: ($line-width * 2),
  $shadow-blur: 0,
  $shadow-color: #00000080
  ) {
    $shadow-string: "";
    
    @if $inner {
      $shadow-string: "inset #{$width} #{$width} 0 0 #{$topcolor-inner}, inset -#{$width} -#{$width} 0 0 #{$bottomcolor-inner}";
    }
    
    @if $outer {
      $shadow-string: if($shadow-string != "", "#{$shadow-string}, ", "") + 
                     " #{$width} #{$width} 0 0 #{$bottomcolor-outer},  -#{$width} -#{$width} 0 0 #{$topcolor-outer}";
    }
    
    @if $shadow {
      $shadow-string: if($shadow-string != "", "#{$shadow-string}, ", "") + 
                     "#{$shadow-distance} #{$shadow-distance} #{$shadow-blur} 0 #{$shadow-color}";
    }
    
    @if $shadow-string != "" {
      box-shadow: string.unquote($shadow-string);
    }
}

$statuses-dropdown-open: 0;

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin: 0 auto;
  display: block;

  @media screen and (max-width: 991px) {
    max-width: 728px;
  }
  @media screen and (max-width: 767px) {
    max-width: none;
  }
}

.w-layout-hflex {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.columns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}



::selection {
  background-color: $colors-lavender;
}

.body {
  box-sizing: border-box;
  -webkit-text-fill-color: inherit;
  background-color: #000;
  background-clip: border-box;
  border: 0 solid #000;
  border-radius: 0;
}

.titlebar {
  touch-action: none;
  border-style: solid solid none;
  border-width: 0 0 $line-width;
  border-color: $g900;
  cursor: grab;
  width: 100%;
  height: 26px;
  margin: 0 auto;
  position: static;
  inset: 0%;
  user-select: none;
  -webkit-user-select: none;

  &:active {
    cursor: grabbing;
  }
}

.window-title {
  opacity: 1;
  color: $g900;
  text-align: center;
  align-self: center;
  margin: 0 auto;
  padding: 0;
  font-family: Charcoal, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 25px;
  display: block;
  left: 50%;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.window {
  position: absolute;
  border-style: solid;
  border-width: 1px 1px $line-width;
  border-color: $g900;
  background-color: $g400;
  @include bevel($shadow: true);
  border-radius: 0;
  width: 100%;
  max-width: 1200px;
  transform: none;
  display: flex;
  flex-direction: column;
}

.title-bar-flexbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
  height: 100%;
  padding: 4px;
}

.window-body {
  user-select: none;
  -webkit-user-select: none;
  display: block;
  border-top: $line-width solid $g900;
  background-color: $g100;
  height: 100%;
  padding: 10px;
  font-family: "FindersKeepers", Arial, sans-serif;
  @include bevel();
  overflow-y: auto;
  overflow-x: hidden;
  overscroll-behavior: contain;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateZ(0);
  will-change: transform;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -webkit-will-change: transform;
  
  p {
    font-size: 24px;
    line-height: 30px;
  }

  &::-webkit-scrollbar,
  .browser iframe::-webkit-scrollbar {
    width: 16px;
  }

  &::-webkit-scrollbar-track:vertical,
  .browser iframe::-webkit-scrollbar-track:vertical {
    border-left: $line-width solid $g900;
    border-bottom: $line-width solid $g900;
  }

  &::-webkit-scrollbar-track:horizontal,
  .browser iframe::-webkit-scrollbar-track:horizontal {
    border-top: $line-width solid $g900;
    border-right: $line-width solid $g900;
  }

  &::-webkit-scrollbar-track,
  .browser iframe::-webkit-scrollbar-track {
    background-color: #aaaaaa;
    
    @include bevel($g600, $g400)
  }

  &::-webkit-scrollbar-thumb,
  .browser iframe::-webkit-scrollbar-thumb {
    background-color: #9999ff;
    background-image: url("/img/scrollhandle.png");
    image-rendering: pixelated;
    background-size: 9px;
    background-position: 1px center;
    background-repeat: no-repeat;
    box-shadow: inset 2px 2px 0 #ffffff30, inset -2px -1px 1px #4c4c99, -2px 1px 2px 0 #26262680;
    border: $line-width solid $g900;

    &:active {
      background-color: #6666cc;
    }
  }

  &::-webkit-scrollbar-button,
  &::-webkit-scrollbar-button:vertical,
  .browser iframe::-webkit-scrollbar-button,
  .browser iframe::-webkit-scrollbar-button:vertical {
    image-rendering: pixelated;
    display: block;
    height: 16px;
    width: 16px;
    background-color: $g300;
    border: $line-width solid $g900;

    @include bevel($g100, $g500);

    &:vertical {
      border-right: 0;
    }

    &:horizontal {
      border-bottom: 0;
    }

    &:vertical:decrement,
    &:horizontal:decrement {
      border-top: 0;
      border-bottom: 0;
      background-image: url("/img/arrow-up.png");
      background-size: 8px;
      background-position: center;
      background-repeat: no-repeat;
    }

    &:horizontal:decrement {
      border-left: 0;
      border-right: 0;
      background-image: url("/img/arrow-left.png");
      background-size: 5px;
    }

    &:horizontal:increment {
      background-size: 5px;
      background-position: center;
      background-repeat: no-repeat;
    }

    &:vertical:increment {
      background-image: url("/img/arrow-down.png");
      background-size: 8px;
      background-position: center;
      background-repeat: no-repeat;
    }

    &:start,
    &:end {
      display: none;
    }
  }
}

.minimized {
  height: 28px !important;

  .window-body {
    display: none !important;
    overflow: hidden;
  }
  .resize-handle {
    display: none !important;
  }
}

.resizable {
  > .window-body {

    border: $line-width solid $g900;
    margin: 0 5px 5px 5px;
    flex: 1;
    overflow: scroll;
    @include bevel($outer: true, $topcolor-outer: $g600, $bottomcolor-outer: $g200);
  }
}

.reader {
  .window-body {
    display: flex;
    flex-direction: column;
    // Previously centered; change to flex-start if vertical space is limited
    justify-content: flex-start;
    background-color: $g300;
  }

  &.dark {
    .window-body {
      background-color: $g900;
      color: $g100;
    }

    hgroup {
      border-color: $g100;
    }
  }

  &.center {
    .window-body {
      align-items: center;
      justify-content: center;
    }
  }

  .background-container {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

    article {
      background-color: #f1f1f1db;
      width: fit-content;
      padding: 20px;
      border-radius: 10px;
      @include bevel($g100, $g600);
    }
  }

  article {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    align-self: center;
    user-select: none;
    -webkit-user-select: none;

    h1, h2, h3, h4, h5, h6 {
      font-family: "Apple Garamond", serif;
    }

    .prose .container {
      max-width: 600px;
      margin: 0 auto;
      margin-bottom: 1em;
    }

    hgroup {
      user-select: text;
      -webkit-user-select: text;
      max-width: 600px;
      margin: 0 auto;
      border-bottom: $line-width solid $g900;
      padding-bottom: 10px;
      margin-bottom: 20px;

      &.compact {
        margin-bottom: 10px;
        padding-bottom: 0;

        h1, h2, h3, h4, h5, h6 {
          margin: 0;
        }

        p {
          font-size: 24px;
        }
      }

      p {
        font-family: "FindersKeepers", sans-serif;
        font-size: 30px;
      }


    }

    .prose {
      font-family: "EB Garamond", serif;

      &.sans {
        font-family: "IBM Plex Sans", sans-serif;
        font-weight: 400;
        font-stretch: 100%;
      }

      p {
        a {
          color: $colors-green;
          text-decoration: underline;
          text-decoration-style: dotted;
        }
        a:hover, a:focus {
          text-decoration: none;
          background-color: $colors-green;
          color: $g100;
        }

          a:active {
            color: $colors-green;
            background-color: transparent;
          }

      }

  

      p {
        font-size: 20px;
        max-width: 600px;
        margin: 10px auto 20px;
        user-select: text;
        -webkit-user-select: text;
      }
    }
  }

  figure {
    width: 100%;
    margin: 0;
  }

  .max400 {
    max-width: 600px;
    margin: 0 auto;
    img {
      width: 100%;
      max-width: 400px;
    }
  }

  .vjs-os9 {
    overflow: hidden;
    border-radius: 5px !important;
  }
}

.bg-gray .window-body {
  background-color: $g400;
}

.doc-container {
  user-select: text;
  -webkit-user-select: text;

  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;

  border: $line-width solid $g900;
  background-color: $g100;
  width: 500px;
  margin: 0 auto;
  padding: 10px;
  @include bevel($g100, $g600);
  
  h2 {
    margin-top: 0;
    font-size: 16px;
    margin-bottom: 0;
  }

  p {
    font-size: 16px;
  }

}

article {
  figure {
    img {
      user-select: none;
      -webkit-user-select: none;
      max-width: 100%;
      height: auto;
      border-radius: 5px;
      margin-bottom: 10px;
    }

    figcaption {
      margin: -5px 5px 14px 0;
      font-family: "Apple Garamond Italic", serif;
      font-style: italic;
      text-align: right;
      font-size: 18px;
      font-style: normal;
      color: $g800;
      
    }
  }
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 60px 2px;
  cursor: pointer;
  background: $g400;
  z-index: 1000;

  img {
    @include bevel($inner: false, $outer: true, $width: ($line-width * 2));
    max-width: 100%;
		max-height: 100%;
		object-fit: contain;
    display: block;
  }

  .caption {
    margin-top: 10px;
    font-family: "Apple Garamond Italic", serif;
    font-style: italic;
    text-align: right;
    font-size: 18px;
    font-style: normal;
    color: $g800;  
  }
}




.paragraph {
  margin: 5px 0;
}



.file-list {
  width: 100%;
  min-width: 400px;
  font-size: 20px;
  position: sticky;
  top: 0;
  text-align: left;
  border-spacing: 0;
  border-collapse: collapse;

  thead {
    th {
      border: $line-width solid $g900;
      @include bevel($g100, $g600);
      user-select: none;
      -webkit-user-select: none;
      text-wrap: nowrap;
      position: sticky;
      top: 0;
      background: $g400;
      padding: 0px 10px;

      &.sorticon {
        background-image: url("/img/ui/reorder.png");
        background-size: 0.8em;
        background-position: center;
        image-rendering: pixelated;
        width: 1em;
        padding: 0;
      }

      &.title {
        text-align: left;
        padding-left: calc(1.5em + 20px);
      }

      &:focus {
        background-color: $g700;
        @include bevel($g800, $g400);
      }
    }
  }

  tbody {
    th {
      font-weight: 400;
      padding: 10px;
      text-align: left;
    }
    tr {
      font-size: 22px;
      background: $g200;
      border-bottom: ($line-width * 2) solid $g100;

      &:focus {
        background: $g300;

        a {
          background: $g900;
          color: $g100;
        }
      }
    }
    td {
      padding: 10px;

      &.icon {
        width: calc(1.5em + 10px);
        padding: 10px 0 10px 10px;
      }
    }

    td, th {
      &.active {
        background-color: $g300;
      }
    }

  }

  a {
    text-decoration: none;
    color: $g900;

    &:visited {
      color: $g900;
    }
  }
}

.browser {
  .window-body {
    overflow: hidden;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  iframe {
    user-select: none;
    -webkit-user-select: none;
  }
}

.browser-controls {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: $g400;
  border-bottom: $line-width solid $g900;
  @include bevel($g200, $g600);

  input {
    flex-grow: 1;
    font-size: 20px;
    padding: 5px;
  }
  button {
    height: 100%;
    .icon {
      margin-bottom: 2px;
    }
  }
}

.iframe-container {
  flex-grow: 1;
}

.resizable {
  .resize-handle {
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    right: 5px;
    bottom: 5px;
    background-color: $g400;
    background-image: url("/img/resize.png");
    image-rendering: pixelated;
    background-size: 12px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: nwse-resize;
    outline: $line-width solid $g400;
    border-top: $line-width solid $g200;
    border-left: $line-width solid $g200;
  }
}

.inactive {
  .window-body {
    border-color: $g600;
    box-shadow: none;
  }
  .resize-handle {
    background-image: none;
    background: $g300;
    outline-color: $g300;
    border: none;
  }
  .titlebar-button,
  .window-stripes {
    visibility: hidden;
  }
  .window-title {
    opacity: 0.5;
  }

  .window-body {
    &::-webkit-scrollbar-track {
      background-color: $g200;
      border-color: #dadada;
      box-shadow: none;
    }
    &::-webkit-scrollbar-thumb {
      display: none;
    }
    &::-webkit-scrollbar-button {
      border-color: #dadada;
      background-color: $g200;
      box-shadow: none;
      background-image: none !important;
    }
  }

  .browser {
    iframe {
      &::-webkit-scrollbar-track {
        background-color: $g200;
        border-color: #dadada;
        box-shadow: none;
      }
      &::-webkit-scrollbar-thumb {
        display: none;
      }
      &::-webkit-scrollbar-button {
        border-color: #dadada;
        background-color: $g200;
        box-shadow: none;
        background-image: none !important;
      }
    }
  }
}

.titlebar-button {
  aspect-ratio: 1;
  border-style: solid;
  border-width: $line-width;
  border-color: $g700 $g100
    $g100 $g700;
  box-shadow: inset 0 0 0 $line-width $g900,
              inset ($line-width * 2) ($line-width * 2) 0 0 $g100,
              inset ($line-width * -2) ($line-width * -2) 0 0 $g700;
  opacity: 1;
  cursor: default;
  background-image: linear-gradient(153deg, #9a9a9a, #f1f1f1);
  outline: 3px #333;
  flex: none;
  order: 0;
  align-self: center;
  width: auto;
  height: 100%;
  margin-top: 0;
  padding: 0;
  display: flex;
  visibility: visible;

  &:active {
    filter: brightness(69%);
  }

  &.titlebar-close {
    box-shadow: inset 0 0 0 $line-width $g900,
                inset ($line-width * 2) ($line-width * 2) 0 0 $g100,
                inset ($line-width * -2) ($line-width * -2) 0 0 $g700;
    outline-offset: 0;
    outline: 3px #333;
    flex-flow: column;
    display: flex;
  }
}

.window-stripes {
  visibility: visible;
  box-sizing: border-box;
  margin-top: ($line-width * -1);
  border-right: $line-width solid $g450;
  border-left: $line-width solid $g200;
  background-color: $g300;
  flex: 1;
  justify-content: space-between;
  align-self: stretch;
  display: block;
}

.horizontal-window-stripe {
  box-sizing: border-box;
  margin-top: 1.5px;
  margin-left: -1.5px;
  border-top: 1.5px solid $g600;
  height: 1.5px;
}

.section {
  left: $line-width;
  top: $line-width;
  right: $line-width;
  bottom: $line-width;
  opacity: 1;
  background-image: url("/img/ui/foamjpg.jpg");
  background-size: cover;
  height: auto;
  margin: 0 auto;
  position: absolute;
  overflow: clip;
  overscroll-behavior: none;
  border-radius: 5px;
}

.icon {
  -webkit-user-drag: none;
  -webkit-user-select: none;
  user-select: none;
  image-rendering: pixelated;
}

.desktop {
  position: absolute;
  top: 26px;
  left: 0;
  right: 0;
  bottom: 0;
}

.desktop-icon {
  margin: 0;
  position: absolute;
  width: fit-content;

  figcaption {
    text-align: center;
    font-family: "FindersKeepers", sans-serif;
    background: #eeeeeeb5;
    font-size: 20px;
    margin: 8px;
    padding: 0 4px;
    user-select: none;
    -webkit-user-select: none;
  }

  &:focus {
    figcaption {
      background: $g900;
      color: $g100;
    }
    .icon {
      filter: brightness(0.5);
    }
  }

  img.icon {
    display: block;
    margin: 0 auto;
  }
}

body,
html {
  overscroll-behavior: none;
}

.editorial-headline {
  max-width: 80%;
  min-height: auto;
  margin: 0;
  padding: 0;
  font-family: Apple Garamond, Times New Roman, sans-serif;
  font-size: 3em;
}



.titlebar-button-minimize {
  aspect-ratio: auto;
  border-top: $line-width solid $g900;
  border-bottom: $line-width solid $g900;
  border-radius: 0;
  flex: 1;
  width: auto;
  height: auto;
  margin: 5px 0;
  display: block;
}

.titlebar-button-zoom {
  aspect-ratio: auto;
  border-top: $line-width solid $g900;
  border-right: $line-width solid $g900;
  border-bottom: $line-width solid $g900;
  border-radius: 0;
  flex: 1;
  width: auto;
  height: auto;
  margin: 0 40% 40% 0;
  display: block;
}

.checkbox {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: $g300;
  border-radius: 0;
  border: $line-width solid $g900;
  @include bevel(white, $g700, $shadow: true, $shadow-color: #b2b2b2, $shadow-distance: $line-width);
}

.checkbox:checked:after {
  content: "";
  background-image: url("/img/ui/check.png");
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 8px;
  left: 12px;
}

.checkbox-label {
  display: inline;
  font-size:24px;
  line-height: 2px;
}

input[type="text"] {
  border-radius: 0 !important;
  outline: none;
  border: $line-width solid $g900;
  @include bevel(white, $g600);

  &:focus {
    box-shadow: 0 0 0 ($line-width * 2) $colors-azul;
  }
}

.alert {
  z-index: 99999;
  .titlebar {
    display: none;
  }
  .window-body {
    background-color: $g300;
    border: $line-width solid red;
  }
  h2 {
    margin: 0;
    font-family: "Charcoal", sans-serif;
    font-size: 16px;
  }
  span {
    margin: 0;
  }
}

.nopadding {
  .window-body {
    padding: 0;
  }
}

.button {
  aspect-ratio: auto;
  border: $line-width solid black;
  background-color: $g300;
  @include bevel($g200, $g600);
  color: $g900;
  text-align: center;
  border-radius: 4px;
  height: 24px;
  padding: 0 6px;
  font-family: "Charcoal", Tahoma, sans-serif;
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;

  &:active {
    background-color: $g700;
    @include bevel($g800, $g400);
  }

  &.primary {
    box-shadow: $line-width $line-width 0 0 $g700,
                0 0 0 $line-width $g400,
                0 0 0 ($line-width * 2) $g900,
                inset ($line-width * -1) ($line-width * -1) 0 0 $g600,
                inset $line-width $line-width 0 0 $g200;
  }
}

a:visted.button {
  text-decoration: none;
  color: $g900;
}

.menubar {
  user-select: none;
  -webkit-user-select: none;
  grid-column-gap: 0;
  grid-row-gap: 0;
  background-color: $g300;
  @include bevel($g100, $g500);
  z-index: 1;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: 26px;
  margin-left: 0;
  padding: 0 16px;
  display: flex;

  .menubar-item {
    color: $g900;
    box-sizing: border-box;
    flex-flow: row;
    flex: 0 auto;
    order: 0;
    align-self: stretch;
    width: auto;
    height: auto;
    margin-left: 0;
    padding: 0 8px;
    font-family: Charcoal, Tahoma, sans-serif;
    text-decoration: none;
    text-wrap: nowrap;
    display: flex;

    &:active {
      background-color: $colors-azul;
      color: $g100;
    }
    &.open {
      background-color: $colors-azul;
      color: $g100 !important;
    }
    &.logo {
      grid-column-gap: 0;
      grid-row-gap: 0;
      background-image: url("/img/square-logo-cd.png");
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: 20px;
      flex: 0 auto;
      align-self: stretch;
      width: auto;
      height: auto;
      padding: 0 8px;
      position: relative;

      &:active {
        background-image: url("/img/square-logo-cd-active.png");
      }
      &.open {
        background-image: url("/img/square-logo-cd-active.png");
      }
      &:focus {
        background-color: $colors-azul;
        background-image: url("/img/square-logo-cd-active.png");
      }
    }
    &.divider {
      background-image: url("/img/Menu-bar-resizer.png");
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: auto 24px;

      &:active {
        background-color: transparent;
      }
    }
    &.website {
      grid-column-gap: 0;
      grid-row-gap: 0;
      background-image: url("/img/Website.png");
      background-position: 8px;
      background-repeat: no-repeat;
      background-size: 16px;
      background-attachment: scroll;
      flex: 0 auto;
      align-self: stretch;
      width: auto;
      height: auto;
      margin-left: 0;
      padding: 0 8px 0 32px;
    }

    .menubar-item-contents {
      flex: 0 auto;
      align-self: center;
      min-width: 20px;
      max-width: none;
      height: 20px;
      padding: 0;
      line-height: 20px;
    }
  }

  .menubar-left,
  .menubar-right {
    flex: 0 auto;
    display: flex;
  }
}

.dropdown-item {
  list-style-type: none;
}

.dropdown-content {
  z-index: 9999;
}

.dropdown-section::after {
  display: block;
  content: "";

  border-bottom: $line-width solid $g600;
  border-top: $line-width solid $g500;
}

.dropdown-section::before {
  content: "";
  display: block;
  border-top: $line-width solid $g100;
}

.list {
  margin-bottom: 0;
  padding-left: 0;
  display: none;
  position: absolute;
  top: 26px;
  left: 0;
}

.dropdown-list {
  &.w--open {
    top: 26px;
    overflow: visible;
  }
}

.dropdown-toggle {
  align-self: center;
  padding: 0;
  display: flex;
  justify-content: center;
}

.dropdown-menu {
  top: 26px;
  left: 0;
  border: $line-width solid $g900;
  background-color: $g300;
  
  @include bevel($g100, $g600, $shadow: true, $shadow-distance: $line-width, $shadow-color: $g900);

  &.right-align {
    left: auto;
    right: 0;
    width: max-content;
  }
}



.dropdown-link {
  padding: 0px 5px;

  &:hover {
    background-color: $colors-azul;
    color: $g100;
  }
}

@media screen and (max-width: 767px) {
  .menubar-item.logo {
    pointer-events: auto;
  }
  .dropdown-list {
    top: 26px;
  }
}

@media screen and (max-width: 479px) {
  .menubar-item {
    overflow: visible;
  }
  .menubar-item-contents {
    overflow: hidden;
  }
  .menubar-right {
    display: none;
  }
}

@font-face {
  font-family: "Charcoal";
  src: url("/fonts/CHARCOAL.TTF") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: url("/fonts/IBMPlexSans-VariableFont_wdth,wght.ttf") format("truetype");
  font-stretch: 75% 125%;
  font-weight: 100 900; 
  font-display: swap;
}

@font-face {
  font-family: "FindersKeepers";
  src: url("/fonts/FindersKeepers.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Apple Garamond";
  src: url("/fonts/AppleGaramond-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Apple Garamond Italic";
  src: url("/fonts/AppleGaramond-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "EB Garamond";
  src: url("/fonts/EBGaramond-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "EB Garamond Italic";
  src: url("/fonts/EBGaramond-Italic-VariableFont_wght.ttf") format("truetype");
  font-style: italic;
  font-display: swap;
}

@keyframes flicker {
  0% { opacity: 0.27861; }
  5% { opacity: 0.34769; }
  10% { opacity: 0.23604; }
  15% { opacity: 0.90626; }
  20% { opacity: 0.18128; }
  25% { opacity: 0.83891; }
  30% { opacity: 0.65583; }
  35% { opacity: 0.67807; }
  40% { opacity: 0.26559; }
  45% { opacity: 0.84693; }
  50% { opacity: 0.96019; }
  55% { opacity: 0.08594; }
  60% { opacity: 0.20313; }
  65% { opacity: 0.71988; }
  70% { opacity: 0.53455; }
  75% { opacity: 0.37288; }
  80% { opacity: 0.71428; }
  85% { opacity: 0.70419; }
  90% { opacity: 0.7003; }
  95% { opacity: 0.36108; }
  100% { opacity: 0.24387; }
}

.crt {
  &::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 0.15s infinite;
  }
  &::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
                linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
  }
}